* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: rgb(0, 0, 0);
}

.login-container {
  height: 70%;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row {
  height: 100%;
  width: 100%;
  margin: 0;
}

.col-left {
  float: left;
  width: 50%;
  padding: 80px;
  color: #fff;
  background-color: rgba(124, 124, 124, 0.5);
}

.col-left-title {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.col-right {
  float: right;
  width: 50%;
  background-color: rgba(88, 88, 88, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.submit-btn {
  margin-top: 10px;
  padding: 2px 10px;
  background-color: transparent;
  border: solid #fff 1px;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.preview-container {
  height: 90%;
  width: 90%;
  background-color: white;
  display: flex;
  justify-content: center;
}

.preview-text {
  position: absolute;
  bottom: 10%;
}
